.main-menu {
    display: block;
    text-align: center;
}
ul.cssmenu {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}
ul.cssmenu ul {
  position: relative;
  display: none;
}
ul.cssmenu ul ul{
    margin-left: 50px;
}
ul.cssmenu li {
  position: relative;
  display: inline;
  float: left;

}
/* Menupunkt stylen */

ul.cssmenu li a {
	font-family: arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 32px;
	text-decoration: none;
	text-align: center;
	display: block;
	background: url(../img/button.png) no-repeat center center;
    padding: 0 1.5em;
    background-size: 100% 32px;
}
ul.cssmenu li:hover > a {
	color: #fff;
	font-weight: bold;
}
/* Untermen�punkt einblenden */
ul.cssmenu li:hover > ul {
  position: absolute;
  top: 32px;
  left: -40px;
  display: inline;
}
/* ab zweite Ebene */
ul.cssmenu li li:hover > ul {
  top: 0px;
  left: 56px;
}
ul.cssmenu li li a {
  width: 96px;
}
/* Farben der einzelnen Ebenen (werden vererbt)*/
ul.cssmenu a {
  color: #FBE602;
}
ul.cssmenu ul a {
  background-color: transparent;
}
ul.cssmenu ul ul a{
  background-color: transparent;
}
ul.cssmenu ul ul ul a{
  background-color: transparent;
}
